@import 'palette';
@import 'utils';

$bounce-curve: cubic-bezier(0.54, 0.35, 0, 3.21);

*:focus {
  outline: 2px solid $yell40;
  box-shadow: none;
  border-radius: 10px;
}

a {
  color: $linkColor;
  font-weight: 900;
  text-decoration-color: rgba($gray10, .54);
  text-decoration-thickness: 2px;
  text-underline-offset: 1.5px;
  transition: text-decoration-color 80ms ease;
  &:hover {
    text-decoration-color: rgba($gray10, .8);
    color: darken($linkColor, 2%);
  }
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
  &.intro {
    margin-top: 0;
    margin-bottom: -10px;
    font-weight: 400;
  }
}

p {
  font-size: 22px;
  line-height: 1.77;
}

section {
  max-width: $sizing-xxxl;
  margin: 0 auto;
}

button {
  border: none;
  background-color: rgba($gray10, .1);
  padding: $spacing-lg $spacing-xxxl;
  border-radius: $border-radius-button;
  font-size: 18px;
  font-weight: 900;
  color: $gray10;
  letter-spacing: 1px;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 100ms ease,
    transform 180ms $bounce-curve;
  &:hover {
    background-color: rgba($gray10, .12);
    transform: scale(1.02);
    text-decoration: none;
  }
  &:active {
    transform: scale(.99);
    outline: none;
  }
}

.page {
  background-color: $backgroundColor;
  min-height: 100vh;
  @include tablet {
    padding: 0 28px;
  }
}

.narrow {
  max-width: $tablet-width;
  margin: 0 auto;
}

#hero-section {
  width: 100%;
  max-width: none;
  position: relative;
  overflow: hidden;

  .howdy-bloop {
    position: absolute;
    z-index: 1;
    background-color: $purp30;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.5);
    opacity: 1;
    transition: transform 800ms ease-in, opacity 600ms linear;

    &.loaded {
      transform: translate(-50%, -50%) scale(3);
      opacity: .5;
    }
  }
}

.hero {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $tablet-width;
  margin: 140px auto 160px;

  h1 {
    margin-bottom: 0;
    opacity: 0;
    height: 80px;
    transform: translateY(50px) scale(.7);
    transition: transform 800ms 300ms ease-out, opacity 200ms 300ms linear;
     
    &.loaded {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    .wave {
      display: inline-block;
      margin-left: 20px;
      transition: transform 300ms ease;

      &.loaded {
        animation: wave 800ms 700ms;
        animation-duration: 700ms;
        animation-delay: 1000ms;
        animation-timing-function: cubic-bezier(0.57, 0.21, 0.7, 1.14);
        transform: rotate(0deg);
      }
    }
  }

  @keyframes wave {
    0% { transform: rotate(0deg) scale(1);}
    10% { transform: rotate(20deg) }
    30% { transform: rotate(-20deg) scale(1.2) }
    50% {transform: rotate(20deg) scale(1.2)}
    70% {transform: rotate(-20deg) }
    100% {transform: rotate(0deg) scale(1)}
  }

  h4 {
    font-weight: 400;
    line-height: 1.67;
    transform: translateY(10px) scale(.96);
    opacity: 0;
    transition: transform 800ms 700ms ease-out, opacity 200ms 700ms linear;

    &.loaded {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }
}

.primary {
  color: $primary;
}

.flex-holster {
  display: flex;
  flex-wrap: wrap;
  .half {
    width: calc(50% - 2px);
    @include tablet {
      width: 100%;
    }
  }
  .quarter {
    width: calc(25% - 2px);
    @include tablet {
      width: 100%;
    }
  }
  .item {
    padding: $spacing-xxl;
    text-align: center;
    margin-bottom: $spacing-xxxl;

    @include phone {
      padding: 0;
    }

    .logo {
      height: 100px;
      transition: opacity 100ms ease;
      margin-bottom: $spacing-xl;

      &.arc-logo {
        height: 116px;
        transform: translateX(8px);
      }

      &.treaty-logo {
        margin-top: 16px;
        transform: translateY(4px);
      }
    }

    button {
      margin-top: 10px;
      @include phone {
        padding: 24px;
        margin-bottom: 32px;
      }
    }
  }
}

.center {
  text-align: center;
}

#work {
  margin-top: $sizing-xs;
}
