@import 'palette';
@import 'utils';

$bounce-curve: cubic-bezier(0.54, 0.35, 0, 3.21);

*:focus {
  outline: 2px solid $yell40;
  box-shadow: none;
  border-radius: 10px;
}

a {
  color: $linkColor;
  font-weight: 900;
  text-decoration-color: rgba($gray10, .54);
  text-decoration-thickness: .9em;
  text-underline-offset: 1.5px;
  transition: text-decoration-color 80ms ease;
  &:hover {
    text-decoration-color: rgba($gray10, .8);
    color: darken($linkColor, 2%);
  }
}

h1 {
  font-size: 68px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
  &.intro {
    margin-top: 0;
    margin-bottom: -10px;
    font-weight: 400;
  }
}

p {
  font-size: 22px;
  line-height: 1.77;
}

section {
  max-width: $sizing-xxxl;
  margin: 0 auto;
}

footer {
  background-color: $purp80;
  margin-top: $sizing-xs;

  @include tablet {
    width: calc(100% + 60px);
    margin-left: -32px;
  }

  .holster {
    height: 400px;
    max-width: 1440px;
    display: flex;
    margin: 0 auto;

    img {
      height: 100%;
    }
    .adjacent {
      max-width: $tablet-width;
      padding-left: $sizing-xs;
      padding-top: $spacing-lg;
    }

    @include tablet-large {
      display: block;
      height: auto;
      text-align: center;
      padding: 0 32px;

      .profile, .adjacent {
        padding: 0;
        max-width: none;
      }

      .profile {
        border-radius: 18px;
        width: 50%;
        margin-top: 32px;
      }
    }

    @include phone {
      padding: 0;

      p { 
        display: none;
      }

      .profile {
        border-radius: 0;
        width: 100%;
        margin-top: 0;
      }
    }
  }
}

button {
  border: none;
  background-color: rgba($gray10, .1);
  padding: $spacing-lg $spacing-xxxl;
  border-radius: $border-radius-button;
  font-size: 18px;
  font-weight: 900;
  color: $gray10;
  letter-spacing: 1px;
  cursor: pointer;
  transform: scale(1);
  transition: background-color 100ms ease,
    transform 180ms $bounce-curve;
  &:hover {
    background-color: rgba($gray10, .12);
    transform: scale(1.02);
    text-decoration: none;
  }
  &:active {
    transform: scale(.99);
    outline: none;
  }
}

.page {
  background-color: $backgroundColor;
  min-height: 100vh;
  @include tablet {
    padding: 0 28px;
  }
}

.narrow {
  max-width: $tablet-width;
  margin: 0 auto;
}

.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  max-width: $tablet-width;
  margin: 0 auto;
}

.primary {
  color: $primary;
}

.flex-holster {
  display: flex;
  flex-wrap: wrap;
  .half {
    width: calc(50% - 2px);
    @include tablet {
      width: 100%;
    }
  }
  .quarter {
    width: calc(25% - 2px);
    @include tablet {
      width: 100%;
    }
  }
  .item {
    padding: $spacing-xxl;
    text-align: center;
    margin-bottom: $spacing-xxxl;

    @include phone {
      padding: 0;
    }

    .logo {
      height: 100px;
      opacity: .77;
      transition: opacity 100ms ease;
    }
    h3 {
      margin: $spacing-xl 0 0;
    }
    button {
      margin-top: 10px;
      @include phone {
        padding: 24px;
        margin-bottom: 32px;
      }
    }
  }
}

.center {
  text-align: center;
}

#work {
  margin-top: $sizing-xs;
}

.socialStrip {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 32px 0 0 -12px;

  @include tablet-large {
    padding-bottom: 32px;
    margin: 32px 0 0;
  }

  @include phone {
    padding-bottom: 32px;
    margin: 32px 0 0;
  }

  .social-link {
    opacity: .8;
    transition: opacity 100ms ease;
    position: relative;
    padding: 0 12px;
    text-align: center;

    img {
      width: 80%;
      @include phone {
        width: 100%;
      }
    }

    .tooltip {
      text-align: center;
      pointer-events: none;
      background-color: $gray10;
      border-radius: 8px;
      color: $purp90;
      position: absolute;
      top: -55px;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, 10px) scale(.95);
      transition: opacity 80ms ease, transform 180ms cubic-bezier(0.54, 0.35, 0, 1.42);
      width: 230px;
      padding: 8px 0;
      box-shadow: 0 4px 20px rgba(0,0,0,.4);

      @include tablet {
        display: none;
      }

      .arrow {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $gray10;
      }
    }
    &:hover {
      opacity: 1;
      .tooltip {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }
  }
}